@import '../../styles/tools/typography.scss';

.categories-container {
  margin-top: 2rem;

  h1 {
    .icon {
      display: inline-block;
      margin-left: 1rem;
      transform: translateY(13%);
      background: none;
      border: none;
    }
  }

  .categories {

    &__form {
      position: relative;
      width: fit-content;
      margin: auto;
    }

    & .btn-submit {
      display: block;
      margin: auto;
    }
  }
}

@media screen and (min-width: $tablet-breakpoint) 
{
  .categories-container {

    .categories {
        width: 50%;
        margin-right: auto;
      
      &__form { margin: inherit; }

      &__create-block {
        display: flex;
        justify-content: space-around;
      }
      
      & .btn-submit { 
        margin-left: 3rem;
        margin-top: .5rem;
      }
    }
  }
}
