@import '../../styles/tools/typography.scss';
@import '../../styles/tools/mixins.scss';

.color-picker {

  margin-top: 0.5rem;;

  &__choice {
    position: relative;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    &:not(:first-of-type) { margin-left: 1rem; }

    &.selected::before { @include check(61%, 40%) }
  }
}