$primary: #284B76;
$secondary: #F19737;
$default-color: #575151;
$placeholder-color: #747474;
$disable-color: #b3a8a8;
$light-line: #DBDBEF;
$heavy-line: #C1C1DC;
$bg-color: #F0F0F3;
$success: #9DDCA4;
$danger: #EE6F6F;
$cta-color: #EC800D;
$shadow: 0 1px 4px black;