@import '../styles/tools/typography.scss';

.agenda-container {
    width: 90%;
    margin: 2rem auto;
}

.calendar {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .month-navigation {
        margin-right: 5%;

        button.icon {
            background: #ededed;
            border: none;
            padding: .8rem;
            border-radius: 3px;
            cursor: pointer;

            &.lefticon { 
                background-image: url('../img/lefticon.svg');
                background-size: contain;
                margin-right: 1rem;
            }
            &.righticon {
                background-image: url('../img/righticon.svg');
                background-size: contain;
            }
          }
          
          button.icon:active {
            background: #e5e5e5;
            -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
               -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
                    box-shadow: inset 0px 0px 5px #c1c1c1;
             outline: none;
          }
    }

    .month {
        h1 { 
            margin-bottom: 2rem;
         }

        display: flex;
        flex-direction: column;
    }

    .week, .weekdays {
        display: flex;
        justify-content: space-evenly;
    }

    .weekday {
        width: 7.14%;
        margin: 0 3.57%;
        text-align: center;
        padding: 1rem 0;
        color: $primary;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .day {
        position: relative;
        width: 7.14%;
        margin: 0 3.57%;
        text-align: center;
        padding: 1rem 0;
        cursor: pointer;
        font-weight: bold;
        color: $default-color;

        &__prev-month, &__next-month { color: $disable-color; }
        
        &.today {
            color: white;

            &::after { 
                position: absolute;
                content: " ";
                height: 2rem;
                width: 2rem;
                background-color: $success;
                bottom: 50%;
                z-index: -1;
                left: 50%;
                transform: translate(-50%, 50%);
                border-radius: 50%;
             } 
        }

        &:hover, &.selected {

            color: white;

            &::after { 
                position: absolute;
                content: " ";
                height: 2rem;
                width: 2rem;
                background-color: $cta-color;
                bottom: 50%;
                z-index: -1;
                left: 50%;
                transform: translate(-50%, 50%);
                border-radius: 8px;
            }
        }

        &.selected.event-box-opened::before {
            position: absolute;
            content: ' ';
            bottom: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: $cta-color transparent transparent transparent;
            transform: translateX(-50%);
            left: 50%;
        }
    }
}

.day-event-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 90vw;
    background-color: white;
    border: 1px solid hsl(213, 49%, 31%, .5);
    padding: 1rem;
    
    > .icon {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    h1 {
        font-size: 1.4rem;
    }

    p {
        color: $primary;
        
        .icon {
            display: inline-block;
            margin-left: .2rem;
            transform: translateY(22%);
            background: none;
            border: none;

            > svg { height: 18px; }
          }
    }

    &__create-form {
        width: fit-content;
        margin: auto;
        text-align: center;

        input[type=time] { 
            border: none; 
            color: $primary; 
            font-weight: bold;
            font-size: 1rem;
        
            &::-webkit-calendar-picker-indicator { display: none; }
        }

        input[type=text] {
            border: none;
            border-bottom: 1px solid $heavy-line;
        }

        select {
            height: 1.5rem;
            margin-top: .5rem;
            font-size: .9rem;
            border: 1px solid $heavy-line;
        }

        .btn-submit {
            display: block;
            margin: 1rem auto;
        }
    }
}