@import './tools/typography.scss';
@import './tools/reset.scss';

@import './modules/form.scss';

:root {
  font-size: 16px;
}

body {
  background-color: $bg-color;
}

h1 { 
  color: $primary;
  font-size: 36px;
  margin-bottom: 1rem;
}


.icon { cursor: pointer; }

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;